.react-calendar__navigation__next2-button{
  display: none;
}

.react-calendar__navigation__prev2-button{
  display: none;
}


.react-calendar{
  margin: auto;
  border-radius: 30px;
  padding: 3%;
  width: 70%;
  background-color: transparent;
}
.react-calendar__month-view__days__day--weekend {
  color: white;
}

.react-calendar__month-view__weekdays__weekday abbr {
  color: rgb(0, 0, 0);
  font-size: 1rem;
  font-weight: 400;
  text-decoration: none;
}

.react-calendar__month-view__weekdays__weekday abbr:hover{
  cursor: default;
}
.react-calendar__tile {
  color: rgb(0, 0, 0);
  font-size: 1.1rem;
}


.react-calendar__tile:disabled {
  background-color: transparent;
  color: rgb(0, 0, 0);
  opacity: 0.5;
}

.react-calendar__month-view__days__day--weekend {
  color: rgb(0, 0, 0)
}


.react-calendar__navigation button:disabled {
  background-color: transparent;
}

.react-calendar__tile--now {
  background-color: transparent;
  color: #68b3ff;
  font-weight: bold;
}



.component-parent-div{
  display: flex;

  
}

.component-parent-div .calender-div{
  width: 50vw;
  padding-top: 4%;

}

.component-parent-div .slots-div{
  width: 50vw;

  height: 50vh;
}