:root {
    overflow-x: hidden;
}

.viewdoctors_main_section {
    height: 45vh;
    padding: 0 2%;
    background-repeat: no-repeat;
    background-color: #edf6ff;
    transition: background-image 1s ease-in-out;
    animation: slideshow 17s infinite;
}

@keyframes slideshow {

    0%,
    45% {
        background-position: 45em 2em;
        background-size: 25em;
        background-image: url('https://cdn.pixabay.com/photo/2017/08/22/13/17/doctor-2668918_1280.png');
    }

    50%,
    70% {
        background-position: 40em 0;
        background-size: 35rem;
        background-image: url('../assets/images/bgdoctor-2.png');
    }

    75%,
    100% {
        background-position: 40em 0;
        background-size: 40em;
        background-image: url('../assets/images/bgdoctor.png');
    }
}

.doctor_header_text {
    width: 50%;
    padding: 5%;
}

.doctor_header_text span {
    transform: scale(1.2);
    font-size: 2rem;
}


.doctor_header_text h1 {
    font-size: 2.75rem;
    color: #0092b3;
    border-right: 0.15em solid #0092b3;
    /* Create a cursor effect */
    white-space: nowrap;
    overflow: hidden;
    animation: typewriter 3s cubic-bezier(0.25, 0.1, 0.25, 1) infinite;
    /* Adjust duration and timing function */
}

@keyframes typewriter {
    from {
        width: 0;
    }

    to {
        width: 95%;
    }
}

.doctorPagedomain_section_outerdiv {
    cursor: default !important;
    margin: 0em auto;
    background-color: transparent !important;
    display: flex;
    cursor: grab !important;
    justify-content: center;
    cursor: grab;
    margin-top: -1em;
    background-color: transparent;
    margin-bottom: 2em;
}


.doctorPagedomain_section {
    /* background-color: #003541; */
    width: 37vw;
    border-radius: 25px;
    cursor: grabbing;
    overflow-y: hidden;
    overflow-x: scroll;
    padding-top: 1em;
    display: flex;

}



.doctorPagedomain_section::-webkit-scrollbar {
    width: 10px;
    height: 10px;
    /* Adjust the height to make it shorter */
}

.doctorPagedomain_section::-webkit-scrollbar-track {
    background-color: transparent;
    border-radius: 100px;
}

.doctorPagedomain_section::-webkit-scrollbar-thumb {
    border-radius: 100px;
    border: 3px solid transparent;
    /* Adjust the border to make it shorter */
    background-clip: content-box;
    background-color: #ffffff;
}


.doctors-list{
    margin: auto;
    overflow-x: scroll;
    overflow-y: hidden;
    display: flex;
    width: 70%;
    justify-content: space-between;
    padding-bottom: 5em;
    
}
.doctor-card{
    position: relative;
    margin-right: 8%;
    margin-bottom: 3%;
    border-radius: 75px 0 0 0;
}


.doctor_card_image_div{
    height: 16em;
    border-radius: 15px;
    width: 17em;
    text-align: center;
    background-color: #EDF6FF;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    
}

.below_image_div{
    position: absolute;
    border-radius: 15px;
    padding: 3% 5%;
    margin-top: -3em;
    box-shadow: rgba(255, 255, 255, 0.1) 0px 1px 1px 0px inset, rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
    background-color: white;
    left: 2.5%;
    height: 8em;
    color: rgb(127, 10, 211);
    width: 95%;
}

.doctor_card_image_div h2{
    padding-top: 5%;
    padding-right: 6%;
    font-size: 1rem;
}



.below_image_div h2{
    text-align: center;
    font-size: 1.5rem;
    color: #015cab;
    font-weight: 600;
}

.below_image_div p{
    color: black;
    font-size: 0.8rem;
    text-align: center;
}

.doctor-cards-button-divs{
    display: flex;
    justify-content: space-around;
}


.doctor-cards-button-divs button{
    background: transparent;
    padding: 3%;
    font-size: 0.7rem;
    border-radius: 15px;
}

.doctor-cards-button-divs button:hover{
    background-color: #015cab;
    color: white;
}



.doctors-list::-webkit-scrollbar {
    width: 10px;
    height: 10px; /* Adjust the height to make it shorter */
  }
  
  .doctors-list::-webkit-scrollbar-track {
    background-color: transparent;
    border-radius: 100px;
  }
  
  .doctors-list::-webkit-scrollbar-thumb {
    border-radius: 100px;
    border: 3px solid transparent; /* Adjust the border to make it shorter */
    background-clip: content-box;
    background-color: #00586e;
  }

.no-doctors-message{
    text-align: center;
    margin: auto;
}
.no-doctors-message h2{
    font-size: 1.2rem;
}


.bookAppointment_modal_outerdiv{
    position: fixed;
    top: 0;
    margin: auto;
    height: 50vh;
}