@import url('https://fonts.googleapis.com/css2?family=Exo:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Rowdies:wght@300;400;700&display=swap');
.doctor-auth-top-section {
    position: relative;
    width: 100vw;
    height: 55vh;
  }
  
  .doctor-auth-top-section::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('https://images.pexels.com/photos/7089339/pexels-photo-7089339.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1');
    background-position: center;
    background-size: cover;
    filter: brightness(0.6);
    z-index: -1;
  }
  
  .doctor-auth-form-section {
    display: flex;
    justify-content: space-between;
    width: 70vw;
    height: 70vh;
    border-radius: 25px;
    background-color: rgb(255, 255, 255);
    position: absolute;
    top: 60%;
    left: 50%;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
    transform: translate(-50%, -50%);
  }
  
  .doctor-auth-top-section .text-div {
    position: absolute;
    z-index: 1;
    color: rgb(255, 255, 255);
    text-align: center;
    top: 20%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  

  .doctor-auth-top-section .text-div h1{
    font-family: 'Rowdies', sans-serif;
    color: rgb(255, 255, 255);
}

.doctor-auth-top-section .text-div p{
    font-family: 'Exo', sans-serif;
}
.image-div{
    width: 25%;
    padding-top: 27rem;
    position: relative;
    height: 100%;
    /* display: flex; */
    margin: auto;
    text-align: center;
    justify-content: center;
    color: white;

}

.image-div::before{
  background-image: url('https://images.pexels.com/photos/5215024/pexels-photo-5215024.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1');
  background-position: center;
  filter: brightness(0.4);
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 100%;
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}



.doctor-auth-form-section .formdiv{
    font-family: 'Exo', sans-serif;
    padding: 1% 2%;
    /* background-color: rgb(255, 255, 255); */
    width: 75%;
    height: 90%;
}
.first-row{
    display: flex;
    justify-content: space-between;
}

.Second-row{
    display: flex;
    justify-content: space-between;
}
.formdiv .row1-fields{
    display: flex;
    flex-direction: column;
}

input{
    padding: 8px 12px;
    border: 1px solid black !important;
    border-radius: 10px !important;
    background-color: transparent;
    border: none;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}

input::placeholder{
    font-size: 0.8rem;
}
.formdiv .row1-fields input{
    width: 14rem;
}

.row2-fields{
    padding: 1% 0;
    display: flex;
    flex-direction: column;
}

.formdiv .row2-fields input{
    width: 14rem;
}



/* Remove the outline on input focus */
input:focus {
    outline: none;
}


.introduction h1{
    text-align: center;
    font-size: 1.9rem;
}
  

input[type="file"] {
    /* Hide the default file input button */
    font-size: 0.8em;
}




/*bg*/
/*txt*/
/*success*/
.buttons {
    display: flex;
    justify-content: space-around;
    left: 20px;
  }
  
  .buttons button {
    width: 150px;
    height: 50px;
    background-color: white;
    margin: 20px;
    color: #568fa6;
    position: relative;
    overflow: hidden;
    font-size: 14px;
    letter-spacing: 1px;
    font-weight: 500;
    text-transform: uppercase;
    transition: all 0.3s ease;
    cursor: pointer;
    border: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 3px;
  }
  
  .buttons button:before, .buttons button:after {
    content: "";
    position: absolute;
    width: 0;
    height: 2px;
    background-color: #44d8a4;
    transition: all 0.3s cubic-bezier(0.35, 0.1, 0.25, 1);
  }
  
  .buttons button:before {
    right: 0;
    top: 0;
    transition: all 0.5s cubic-bezier(0.35, 0.1, 0.25, 1);
  }
  
  .buttons button:after {
    left: 0;
    bottom: 0;
  }
  
  .buttons button span {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    margin: 0;
    padding: 0;
    z-index: 1;
  }
  
  .buttons button span:before, .buttons button span:after {
    content: "";
    position: absolute;
    width: 2px;
    height: 0;
    background-color: #44d8a4;
    transition: all 0.3s cubic-bezier(0.35, 0.1, 0.25, 1);
  }
  
  .buttons button span:before {
    right: 0;
    top: 0;
    transition: all 0.5s cubic-bezier(0.35, 0.1, 0.25, 1);
  }
  
  .buttons button span:after {
    left: 0;
    bottom: 0;
  }
  
  .buttons button p {
    padding: 0;
    margin: 0;
    transition: all 0.4s cubic-bezier(0.35, 0.1, 0.25, 1);
    position: absolute;
    width: 100%;
    height: 100%;
  }
  
  .buttons button p:before, .buttons button p:after {
    position: absolute;
    width: 100%;
    transition: all 0.4s cubic-bezier(0.35, 0.1, 0.25, 1);
    z-index: 1;
    left: 0;
  }
  
  .buttons button p:before {
    content: attr(data-title);
    top: 50%;
    transform: translateY(-50%);
  }
  
  .buttons button p:after {
    content: attr(data-text);
    top: 150%;
    color: #44d8a4;
  }
  
  .buttons button:hover:before, .buttons button:hover:after {
    width: 100%;
  }
  
  .buttons button:hover span {
    z-index: 1;
  }
  
  .buttons button:hover span:before, .buttons button:hover span:after {
    height: 100%;
  }
  
  .buttons button:hover p:before {
    top: -50%;
    transform: rotate(5deg);
  }
  
  .buttons button:hover p:after {
    top: 50%;
    transform: translateY(-50%);
  }
  
  .buttons button.start {
    background-color: #44d8a4;
    box-shadow: 0px 5px 10px -10px rgba(0, 0, 0, 0.2);
    transition: all 0.2s ease;
  }
  
  .buttons button.start p:before {
    top: -50%;
    transform: rotate(5deg);
  }
  
  .buttons button.start p:after {
    color: white;
    transition: all 0s ease;
    content: attr(data-start);
    top: 50%;
    transform: translateY(-50%);
    animation: start 0.3s ease;
    animation-fill-mode: forwards;
  }
  
  @keyframes start {
    from {
      top: -50%;
    }
  }
  
  .buttons button.start:hover:before, .buttons button.start:hover:after {
    display: none;
  }
  
  .buttons button.start:hover span {
    display: none;
  }
  
  .buttons button:active {
    outline: none;
    border: none;
  }
  
  .buttons button:focus {
    outline: 0;
  }




  .changingbtn {
    z-index: 1;
    position: relative;
    height: 50px;
    padding: 0 30px;
    border: 2px solid #000;
    background: #e8e8e8;
    user-select: none;
    white-space: nowrap;
    transition: all .05s linear;
    font-family: inherit;
   }
   
   .changingbtn:before, .changingbtn:after {
    content: "";
    position: absolute;
    background: #e8e8e8;
    transition: all .2s linear;
   }
   
   .changingbtn:before {
    width: calc(100% + 6px);
    height: calc(100% - 16px);
    top: 8px;
    left: -3px;
   }
   
   .changingbtn:after {
    width: calc(100% - 16px);
    height: calc(100% + 6px);
    top: -3px;
    left: 8px;
   }
   
   .changingbtn:hover {
    cursor: crosshair;
   }
   
   .changingbtn:active {
    transform: scale(0.95);
   }
   
   .changingbtn:hover:before {
    height: calc(100% - 32px);
    top: 16px;
   }
   
   .changingbtn:hover:after {
    width: calc(100% - 32px);
    left: 16px;
   }
   
   .changingbtn span {
    font-size: 15px;
    z-index: 3;
    position: relative;
    font-weight: 600;
   }


.login{
  padding-top: 10%;
}

.login h1{
  text-align: center;
}

.login hr{
  width: 50%;
  margin: auto;
  margin-bottom: 2rem;
}

.login .first-row {
  display: flex;
  flex-direction: column;
  justify-content: center;

}
.login .first-row .row2-fields{
  justify-content: center;
  margin: auto;

}

.login .first-row .row2-fields input{
  width: 30rem !important;
}


















.SignInBtn {
  margin: auto;
  padding: 10px 25px;
  border: unset;
  border-radius: 15px;
  color: #212121;
  z-index: 1;
  background: #e8e8e8;
  position: relative;
  font-weight: 400;
  font-size: 14px;
  -webkit-box-shadow: 4px 8px 19px -3px rgba(0,0,0,0.27);
  box-shadow: 4px 8px 19px -3px rgba(0,0,0,0.27);
  transition: all 250ms;
  overflow: hidden;
 }
 
 .SignInBtn::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 0;
  border-radius: 15px;
  background-color: #212121;
  z-index: -1;
  -webkit-box-shadow: 4px 8px 19px -3px rgba(0,0,0,0.27);
  box-shadow: 4px 8px 19px -3px rgba(0,0,0,0.27);
  transition: all 250ms
 }
 
 .SignInBtn:hover {
  color: #e8e8e8;
 }
 
 .SignInBtn:hover::before {
  width: 100%;
 }