@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

.DoctorDashboard-main-section {
    font-family: "Poppins", sans-serif;
    display: flex;
    padding: 1%;
    height: 100vh;
    justify-content: space-between;
    /* background-color: #EDF6FF; */
}

.appointments-div {
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px,
        rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
    background-color: transparent;
    border-radius: 15px;
    margin-top: 1%;
    height: 60vh;
    width: 45vw;
    padding: 2% 1%;
    overflow: hidden;
}

.appointments-div h1 {
    font-family: "Josefin Sans", sans-serif;
    text-align: center;
    font-size: 1.6rem;
}

table {
    width: 100%;
    border-radius: 20px !important;
    padding: 2%;
    border-collapse: collapse;
}

table,
th,
td {
    border: 1px solid #ddd;
}

th,
td {
    padding: 10px;
    text-align: left;
}

thead th {
    background-color: #0092b3;
    color: white;
}

.AppointmentCard {
    padding: 2% 5%;
}

.DashboardCalender {
    font-family: "Poppins", sans-serif;
    margin: 2%;
    margin-top: 5%;
    width: 25%;
    border-radius: 25px;
    border: none;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px,
        rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
    height: 42%;
    padding: 2%;
    margin-right: 0 !important;
    margin-left: 0;
}

.DashboardCalender .react-calendar__tile {
    color: #0092b3;
    font-size: 1rem;
}

.DashboardCalender .react-calendar__navigation {
    height: auto;
}

.DashboardCalender .react-calendar__tile--active:enabled {
    background: #0092b3;
    border-radius: 100%;
    color: white;
}

.DashboardCalender .react-calendar__navigation:hover {
    background-color: transparent !important;
}

.DashboardCalender .react-calendar__navigation button {
    font-size: 1.3rem;
    background-color: transparent;
}

.DashboardCalender .react-calendar__navigation button:hover {
    background: #00586e;
}

.DashboardCalender .react-calendar__tile:hover {
    border-radius: 100%;
    background-color: #0092b3;
    color: white;
}

.DashboardCalender .react-calendar__navigation__next2-button {
    display: none;
}

.DashboardCalender .react-calendar__navigation__prev2-button {
    display: none;
}

.DashboardCalender .react-calendar__tile:disabled {
    background-color: transparent;
    color: rgb(0, 0, 0);
    opacity: 0.5;
}
.DashboardCalender .react-calendar__month-view__weekdays__weekday abbr {
    color: rgb(0, 0, 0);
    font-size: 1rem;
    font-weight: 400;
    text-decoration: none;
  }

.DashboardCalender .react-calendar__month-view__weekdays__weekday abbr:hover{
    cursor: default;
  }


.react-calendar__navigation__label, .react-calendar__navigation__label:hover {
    background-color: transparent !important;
}

.react-calendar__year-view .react-calendar__tile, .react-calendar__decade-view .react-calendar__tile, .react-calendar__century-view .react-calendar__tile{
    padding: 1.3em 0.5em;
}


.react-calendar__tile--hasActive {
background-color: transparent;
}


.react-calendar__tile--hasActive:hover{
    color: black;
    background-color: transparent !important;
}

.DashboardCalender .react-calendar__tile--now {
    background-color: transparent;
    color: #68b3ff;
    font-weight: bold;
  }


  .react-calendar__navigation button:disabled:hover{
    background-color: transparent;
  }


  .DashboardCalender .react-calendar__navigation button:not(:disabled):hover{
    background-color: transparent;
    transform: scale(1.2);
    transition: 0.4s ease-in-out;
  }
/* CSS */

.patient_div {
    padding: 2% 1%;
    margin-top: 1%;

    width: 22vw;
    border-radius: 15px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px,
        rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
    height: 60vh;
    overflow: auto;
}

.patientTable {
    width: 100%;
    border-collapse: collapse;
    margin-top: 2%;
}

.patientTable th,
.patientTable td {
    border: 1px solid #ddd;
    padding: 12px;
    text-align: left;
}

.patientTable th {
    background-color: #0092b3;
    color: white;
}

.patientCard {
    display: flex;
    justify-content: space-around;
}

.patient_div h1 {
    padding-bottom: 2%;
    text-align: center;
    font-size: 1.7rem;
}

.btn-div {
    margin: auto 0;
}

.button:disabled {
    cursor: not-allowed;
    background-color: #00586e;
}

.button:disabled:hover {
    background-color: #00586e;
}

.button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30px;
    height: 30px;
    border-radius: 100%;
    border: none;
    background-color: #30c04f;
}

.button:hover {
    background-color: #2bac47;
}

.PaginationContainer {
    display: flex;
    padding-top: 3%;
    justify-content: center;
    align-items: center;
    list-style: none;
    gap: 10px;
}

.PaginationContainer a {
    font-family: "Comfortaa";
    font-weight: bold;
    padding: 8px 16px;
    text-decoration: none;
    cursor: pointer;
    border-radius: 20px;
    background: rgba(0, 0, 0, 0.3);
    color: rgb(255, 255, 255) !important;
    transition: 0.1s all ease-in-out;
}

.PaginationContainer a:hover {
    background-color: #0092b3 !important;
}