.Loginpage_main_section {
    overflow-y: hidden;
    background: #00d2ff;
    height: 100vh;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to top, #EDF6FF, #EDF6FF);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to bottom, #EDF6FF, #EDF6FF);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}


.login-signup-container {
    vertical-align: center;   
    height:85vh;
    border-radius: 20px;
    display: flex;
    width: 80%;
    padding: 2% 3%;
    margin: auto;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
    margin-top: 5%;
}


.login-signupLeftDiv {
    display: flex;
    flex-direction: column;
    margin: auto;
    /* align-items: start; */
}

.login-signupLeftDiv h1{
margin-left: 30%;
}

.paralogin-signuptext {
    width: 60%;
}

.inpDiv {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.fullname {

    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.fullname .labels{
    width: 57%;
    display: flex;
    justify-content: space-between;
}

.fullname .inputs {
    height: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;

}


.login-signupLeftDiv input {
    margin: 2% 0;
    width: 85%;
    padding: 1% 3%;
    font-size: 1rem;
    background: transparent;
    border-radius: 10px;
    border: 2px solid #2d76e4;
}

.fullname  input{
    margin-right: 5%;
    width: 40% !important;
}

.login-signupRightDiv {
    border-radius: 20px;
    /* background-image: url('https://images.pexels.com/photos/3902881/pexels-photo-3902881.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1'); */
    background-image: url('https://cdn.discordapp.com/attachments/896445505054343188/1188174423589671042/ztji7lgxn06b1.jpg?ex=659990a9&is=65871ba9&hm=2fe14b9eec3e33a52ecd42ca7e41a3684b87829dc7b4db47b24706eefa021797&');
    background-position:top;
    transition: 0.5s;
    background-size: cover;
    background-repeat: no-repeat;

}

.login-signupbtn {
    --color: #2d76e4;
    font-family: inherit;
    display: inline-block;
    width: 12em;
    height: 2.6em;
    line-height: 2.5em;
    margin: 2% 25%;
    position: relative;
    overflow: hidden;
    border: 2px solid var(--color);
    transition: color .5s;
    z-index: 1;
    font-size: 17px;
    border-radius: 6px;
    font-weight: 500;
    color: var(--color);
}

.login-signupbtn:before {
    content: "";
    position: absolute;
    z-index: -1;
    background: var(--color);
    height: 150px;
    width: 200px;
    border-radius: 50%;
}

.login-signupbtn:hover {
    color: #fff;
}

.login-signupbtn:before {
    top: 100%;
    left: 100%;
    transition: all .7s;
}

.login-signupbtn:hover:before {
    top: -30px;
    left: -30px;
}

.login-signupbtn:active:before {
    background: #2d76e4;
    transition: background 0s;
}


.switchaccdiv {
    width: 60%;
    display: flex;
    align-items: center;
    justify-content: center;
    align-items: center;
    margin: 0 15%;
    margin-top: 5%;
    padding-bottom: 3%;
}

.switchaccdiv p {
    font-size: 1.1rem;
    margin-right: 10px;
    /* Adjust as needed for spacing between text and button */
    margin: auto 0;
}

.switchaccdiv button {
    background: none;
    border: none;
    color: #007bff;
    /* Adjust the color as needed */
    cursor: pointer;
    font-size: 1.2rem;
    transition: 0.3s;
}

.switchaccdiv button:hover {
    color: black;
    transform: scale(1.04);
}




.Hello{
        transition: 0.5s;
        /* background-image: url('https://images.pexels.com/photos/1116380/pexels-photo-1116380.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1'); */
        background-image: url('https://cdn.discordapp.com/attachments/896445505054343188/1188175485943943229/desktop-wallpaper-about-dasha-taran-see-more-about-dasha.jpg?ex=659991a7&is=65871ca7&hm=c6cc3e7d390c6f3b4906a9cb31b980871268b5fbce44553fd79a0ab38cd802d7&');
        background-position: right top;
        background-size: cover;
        background-repeat: no-repeat;
}







.button-google {
    margin-right: 5%;
    max-width: 250px;
    display: flex;
    padding: 0.5rem 1.4rem;
    font-size: 0.8rem;
    line-height: 1.25rem;
    font-weight: 700;
    text-align: center;
    text-transform: uppercase;
    vertical-align: middle;
    align-items: center;
    border-radius: 0.5rem;
    border: 1px solid rgba(0, 0, 0, 0.25);
    gap: 0.75rem;
    color: rgb(65, 63, 63);
    background-color: #fff;
    cursor: pointer;
    transition: all .6s ease;
  }
  
  
  .button-google img {
    transition: transform 0.3s ease-in-out;
  }
  
  .button-google:hover img {
    transform: scale(1.3); /* Adjust the scale factor as needed */
  }