@import url("https://fonts.googleapis.com/css2?family=Cabin:wght@400;500;600&family=Raleway:wght@100;400;500;600&display=swap");



.Navbar {
  margin: 0;
  width: 100vw !important;
  display: flex !important;
  justify-content: flex-end !important;
  background: transparent;
  padding: 0%;
}

.brand {
  margin-left: 2em;
  display: flex;
}

.nav-heading {
  margin: auto 0;
  font-family: "Righteous", sans-serif;
  letter-spacing: 5px;
  font-size: 1.4rem;
  font-weight: bold;
  text-decoration: none;
  padding-left: 2%;
  color: #2d76e4;
}

.nav-heading:hover {
  color: #0374e6;
  transition: 0.5s;
  transform: scale(1.2);
}
.navbar-collapse{
  margin: auto 4em;
  display: flex;
  justify-content: flex-end !important;
}



.nav-text-para {
  opacity: 0.8;
  font-family: "Raleway", sans-serif;
  color: #2c2c2c;
  font-weight: 900 !important;
  text-decoration: none;
  font-size: 0.8rem;
  margin: auto 1rem !important;
  transition: 0.5s;
}

.nav-text-para:hover{
  transform: scale(1.2);
}


.regdoc {
  font-family: "Raleway", sans-serif;
  text-align: center;
  width: 160px !important;
  margin: auto;
  padding: 0;
}


.loginbutton{
  opacity: 1;
  font-family: "Raleway", sans-serif;
  margin: auto;
  border-radius: 12px;
  transition: 0.2s ease-in;
  padding: 2% 6%;
  border: 2px #2d76e4 solid;

}

.loginbutton p{
  margin: auto 0;
}


.loginbutton:hover{
  transform: scale(1.09);
  background-color:#2d76e4;
  border-radius: 12px;
  color: white;
}



.user-dashboard{
  padding-top: 2%;
  padding-left: 7%;


}


.user-dashboard button{
  background-image: url(../assets/images/Doctors/Lorain.png);
  background-size: cover;
  background-position: center;
  background-color: transparent;
  border-radius: 50% !important;
  width:30px;
  height: 30px;
  border: none;
  font-size: 1.2rem;
}


.user-dashboard button:hover{
  box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 2px, rgba(0, 0, 0, 0.07) 0px 2px 4px, rgba(0, 0, 0, 0.07) 0px 4px 8px, rgba(0, 0, 0, 0.07) 0px 8px 16px, rgba(0, 0, 0, 0.07) 0px 16px 32px, rgba(0, 0, 0, 0.07) 0px 32px 64px;
}


.modals{
  border-radius: 30px !important;
  background: none !important; 
  z-index: 1;
}
.user-profile-modal .modals-content{
  position: absolute;
  left: 72rem;
  padding: 0%;
  border-top-left-radius: 20px !important;
  border-top-right-radius: 20px !important;
  height: 50vh;
  top: 4rem;
  width: 20vw !important;
}


.user-profile-top-div{
  display: flex;
  justify-content: center;
  height: 20%;
  background-color: #EDF6FF;
  border-top-left-radius: 20px !important;
  border-top-right-radius: 20px !important;

}

.user-profile-top-div button{
  margin-top: 3.6rem;
}