@import url("https://fonts.googleapis.com/css2?family=Cabin:wght@400;500;600&family=Raleway:wght@100;400;500;600&display=swap");



.Navbar {
  margin: 0;
  width: 100vw !important;
  display: flex !important;
  justify-content: flex-end !important;
  background: transparent;
  padding: 0%;
}

.brand {
  margin-left: 2em;
  display: flex;
}

.nav-heading {
  margin: auto 0;
  font-family: "Righteous", sans-serif;
  letter-spacing: 5px;
  font-size: 1.4rem;
  font-weight: bold;
  text-decoration: none;
  padding-left: 2%;
  color: #2d76e4;
}

.nav-heading:hover {
  color: #0374e6;
  transition: 0.5s;
  transform: scale(1.2);
}
.navbar-collapse{
  margin: auto 4em;
  display: flex;
  justify-content: flex-end !important;
}



.nav-text-para {
  opacity: 0.8;
  font-family: "Raleway", sans-serif;
  color: #2c2c2c;
  font-weight: 900 !important;
  text-decoration: none;
  font-size: 0.8rem;
  margin: auto 1rem !important;
  transition: 0.5s;
}

.nav-text-para:hover{
  transform: scale(1.2);
}


.regdoc {
  font-family: "Raleway", sans-serif;
  text-align: center;
  width: 160px !important;
  margin: auto;
  padding: 0;
}


.loginbutton{
  opacity: 1;
  font-family: "Raleway", sans-serif;
  margin: auto;
  border-radius: 12px;
  transition: 0.2s ease-in;
  padding: 2% 6%;
  border: 2px #2d76e4 solid;

}

.loginbutton p{
  margin: auto 0;
}


.loginbutton:hover{
  transform: scale(1.09);
  background-color:#2d76e4;
  border-radius: 12px;
  color: white;
}



.user-dashboard{
  padding-left: 18%;


}


.user-dashboard button{
  background-image: url(../assets/images/Doctors/Lorain.png);
  background-size: cover;
  background-position: center;
  background-color: transparent;
  border-radius: 50% !important;
  width:40px;
  height: 40px;
  border: none;
  font-size: 1.2rem;
}


.user-dashboard button:hover{
  box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
}