@import url("https://fonts.googleapis.com/css2?family=Cabin:wght@400;500;600&family=Raleway:wght@100;400;500;600&display=swap");

.Navbar {
  margin: 0% auto;
  width: 100%;
  overflow-x: hidden;
  background: transparent;
}

.brand {
  display: flex;
}

.nav-heading {
  margin: auto 0;
  font-family: "Righteous", sans-serif;
  letter-spacing: 5px;
  font-size: 2rem;
  font-weight: bold;
  text-decoration: none;
  padding-left: 2%;
  color: #2d76e4;
}

.nav-heading:hover {
  color: #0374e6;
  transition: 0.5s;
  transform: scale(1.2);
}
.nav-text {
  margin: auto;
  margin-left: 45%;
}
.nav-text-para {
  font-family: "Raleway", sans-serif;
  color: #2c2c2c;
  font-weight: 900 !important;
  text-decoration: none;
  font-size: 1rem;
  margin: auto 4% !important;
  transition: 0.5s;
}

.nav-text-para:hover{
  transform: scale(1.2);
}


.regdoc {
  font-family: "Raleway", sans-serif;
  text-align: center;
  width: 160px !important;
  margin: auto;
  padding: 0;
}


.loginbutton{
  font-family: "Raleway", sans-serif;
  margin: auto;
  border-radius: 12px;
  transition: 0.2s ease-in;
  padding: 2% 6%;
  border: 2px #2d76e4 solid;

}

.loginbutton p{
  margin: auto 0;
}


.loginbutton:hover{
  background-color:#2d76e4;
  border-radius: 12px;
  padding: 2% 6%;
  color: white;
}
